<h1>Regression Models with Keras</h1>

Objective for this Notebook

- How to use the Tensorflow API, Keras, to build a regression model.
- Download and Clean dataset
- Build a Neural Network
- rain and Test the Network

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item31">Download and Clean Dataset</a>  
2. <a href="#item32">Import Keras</a>  
3. <a href="#item33">Build a Neural Network</a>  
4. <a href="#item34">Train and Test the Network</a>  

</font>
</div>

<a id="item31"></a>

## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [10]:
import pandas as pd
import numpy as np

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [11]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [12]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [13]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [14]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [15]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [16]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [17]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [18]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [19]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

<a id="item1"></a>

<a id='item32'></a>

## Import Keras

Recall from the videos that Keras normally runs on top of a low-level library such as TensorFlow. This means that to be able to use the Keras library, you will have to install TensorFlow first and when you import the Keras library, it will be explicitly displayed what backend was used to install the Keras library. In CC Labs, we used TensorFlow as the backend to install Keras, so it should clearly print that when we import Keras.

#### Let's go ahead and import the Keras library

In [20]:
from tensorflow import keras

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [21]:
from keras.models import Sequential
from keras.layers import Dense

<a id='item33'></a>

## Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [22]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    """
    1. Initial a sequence model
    2. Add 2 dense layers with a relu activation function and 50 neurons each
    3. Add a final layer. Remember this is a regression task.
    """
    model.add(Dense(50, input_shape=(8,), activation='relu'))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function create a model that has two hidden layers, each of 50 hidden units.

<a id="item4"></a>

<a id='item34'></a>

## Train and Test the Network

Let's call the function now to create our model.

In [23]:
# build the model
model = regression_model()

C:\Users\natal\tensorflow_env\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Next, we will train and test the model at the same time using the *fit* method. We will leave out 30% of the data for validation and we will train the model for 100 epochs.

In [24]:
# fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

Epoch 1/100
23/23 - 2s - 68ms/step - loss: 1626.6184 - val_loss: 1114.8583
Epoch 2/100
23/23 - 0s - 4ms/step - loss: 1475.8802 - val_loss: 962.9077
Epoch 3/100
23/23 - 0s - 5ms/step - loss: 1213.6428 - val_loss: 728.4654
Epoch 4/100
23/23 - 0s - 5ms/step - loss: 847.9750 - val_loss: 456.4273
Epoch 5/100
23/23 - 0s - 5ms/step - loss: 485.5071 - val_loss: 257.8070
Epoch 6/100
23/23 - 0s - 5ms/step - loss: 287.5197 - val_loss: 178.8074
Epoch 7/100
23/23 - 0s - 6ms/step - loss: 234.9158 - val_loss: 164.4231
Epoch 8/100
23/23 - 0s - 4ms/step - loss: 215.8361 - val_loss: 161.2633
Epoch 9/100
23/23 - 0s - 5ms/step - loss: 203.3592 - val_loss: 158.8222
Epoch 10/100
23/23 - 0s - 6ms/step - loss: 194.0221 - val_loss: 158.3575
Epoch 11/100
23/23 - 0s - 3ms/step - loss: 186.7085 - val_loss: 155.4535
Epoch 12/100
23/23 - 0s - 6ms/step - loss: 180.5651 - val_loss: 153.8892
Epoch 13/100
23/23 - 0s - 5ms/step - loss: 174.9927 - val_loss: 153.1096
Epoch 14/100
23/23 - 0s - 5ms/step - loss: 170.7878 - val_loss: 150.6579
Epoch 15/100
23/23 - 0s - 5ms/step - loss: 167.1148 - val_loss: 149.9028
Epoch 16/100
23/23 - 0s - 5ms/step - loss: 163.1573 - val_loss: 147.4452
Epoch 17/100
23/23 - 0s - 5ms/step - loss: 159.7419 - val_loss: 149.0719
Epoch 18/100
23/23 - 0s - 5ms/step - loss: 156.5563 - val_loss: 149.3468
Epoch 19/100
23/23 - 0s - 5ms/step - loss: 154.8602 - val_loss: 148.5137
Epoch 20/100
23/23 - 0s - 5ms/step - loss: 151.9198 - val_loss: 147.2955
Epoch 21/100
23/23 - 0s - 6ms/step - loss: 149.6377 - val_loss: 148.1068
Epoch 22/100
23/23 - 0s - 4ms/step - loss: 147.5899 - val_loss: 147.6396
Epoch 23/100
23/23 - 0s - 6ms/step - loss: 145.6304 - val_loss: 144.1544
Epoch 24/100
23/23 - 0s - 5ms/step - loss: 144.0013 - val_loss: 149.4819
Epoch 25/100
23/23 - 0s - 4ms/step - loss: 142.1072 - val_loss: 148.5558
Epoch 26/100
23/23 - 0s - 3ms/step - loss: 140.2317 - val_loss: 145.6868
Epoch 27/100
23/23 - 0s - 3ms/step - loss: 138.4137 - val_loss: 145.5785
Epoch 28/100
23/23 - 0s - 3ms/step - loss: 136.2245 - val_loss: 148.2528
Epoch 29/100
23/23 - 0s - 3ms/step - loss: 134.4734 - val_loss: 147.5137
Epoch 30/100
23/23 - 0s - 7ms/step - loss: 132.9204 - val_loss: 146.6055
Epoch 31/100
23/23 - 0s - 5ms/step - loss: 130.6180 - val_loss: 147.4204
Epoch 32/100
23/23 - 0s - 5ms/step - loss: 129.1550 - val_loss: 150.1107
Epoch 33/100
23/23 - 0s - 6ms/step - loss: 127.9864 - val_loss: 146.9549
Epoch 34/100
23/23 - 0s - 5ms/step - loss: 125.9947 - val_loss: 145.4652
Epoch 35/100
23/23 - 0s - 7ms/step - loss: 124.2355 - val_loss: 147.9737
Epoch 36/100
23/23 - 0s - 5ms/step - loss: 122.1635 - val_loss: 146.5967
Epoch 37/100
23/23 - 0s - 5ms/step - loss: 120.5115 - val_loss: 146.7271
Epoch 38/100
23/23 - 0s - 6ms/step - loss: 118.7680 - val_loss: 147.7769
Epoch 39/100
23/23 - 0s - 5ms/step - loss: 116.3787 - val_loss: 145.3615
Epoch 40/100
23/23 - 0s - 5ms/step - loss: 114.9419 - val_loss: 145.0616
Epoch 41/100
23/23 - 0s - 5ms/step - loss: 111.6780 - val_loss: 144.8205
Epoch 42/100
23/23 - 0s - 6ms/step - loss: 109.3149 - val_loss: 141.4796
Epoch 43/100
23/23 - 0s - 6ms/step - loss: 107.3210 - val_loss: 142.9619
Epoch 44/100
23/23 - 0s - 5ms/step - loss: 104.1497 - val_loss: 141.4728
Epoch 45/100
23/23 - 0s - 5ms/step - loss: 101.3040 - val_loss: 142.3835
Epoch 46/100
23/23 - 0s - 5ms/step - loss: 99.1061 - val_loss: 139.2672
Epoch 47/100
23/23 - 0s - 5ms/step - loss: 95.4527 - val_loss: 138.0599
Epoch 48/100
23/23 - 0s - 5ms/step - loss: 93.5710 - val_loss: 136.7133
Epoch 49/100
23/23 - 0s - 6ms/step - loss: 90.1563 - val_loss: 135.6670
Epoch 50/100
23/23 - 0s - 5ms/step - loss: 87.0629 - val_loss: 130.2485
Epoch 51/100
23/23 - 0s - 4ms/step - loss: 83.9825 - val_loss: 131.5689
Epoch 52/100
23/23 - 0s - 5ms/step - loss: 81.1737 - val_loss: 128.5679
Epoch 53/100
23/23 - 0s - 5ms/step - loss: 78.1663 - val_loss: 121.4618
Epoch 54/100
23/23 - 0s - 4ms/step - loss: 75.4260 - val_loss: 123.4097
Epoch 55/100
23/23 - 0s - 5ms/step - loss: 72.4771 - val_loss: 123.4613
Epoch 56/100
23/23 - 0s - 5ms/step - loss: 70.3124 - val_loss: 122.3573
Epoch 57/100
23/23 - 0s - 5ms/step - loss: 66.9176 - val_loss: 122.7036
Epoch 58/100
23/23 - 0s - 5ms/step - loss: 64.3484 - val_loss: 116.5298
Epoch 59/100
23/23 - 0s - 5ms/step - loss: 62.1710 - val_loss: 112.0317
Epoch 60/100
23/23 - 0s - 6ms/step - loss: 60.1445 - val_loss: 116.1620
Epoch 61/100
23/23 - 0s - 4ms/step - loss: 58.3452 - val_loss: 116.3220
Epoch 62/100
23/23 - 0s - 4ms/step - loss: 57.0946 - val_loss: 113.7449
Epoch 63/100
23/23 - 0s - 5ms/step - loss: 55.0262 - val_loss: 110.0770
Epoch 64/100
23/23 - 0s - 6ms/step - loss: 53.6607 - val_loss: 116.9647
Epoch 65/100
23/23 - 0s - 5ms/step - loss: 52.0233 - val_loss: 111.1312
Epoch 66/100
23/23 - 0s - 5ms/step - loss: 50.0926 - val_loss: 115.9958
Epoch 67/100
23/23 - 0s - 6ms/step - loss: 48.7439 - val_loss: 115.4852
Epoch 68/100
23/23 - 0s - 5ms/step - loss: 47.7717 - val_loss: 107.9650
Epoch 69/100
23/23 - 0s - 5ms/step - loss: 46.6371 - val_loss: 109.8247
Epoch 70/100
23/23 - 0s - 5ms/step - loss: 45.5516 - val_loss: 110.3651
Epoch 71/100
23/23 - 0s - 4ms/step - loss: 44.8871 - val_loss: 110.1913
Epoch 72/100
23/23 - 0s - 6ms/step - loss: 43.8895 - val_loss: 113.7958
Epoch 73/100
23/23 - 0s - 5ms/step - loss: 43.3602 - val_loss: 107.6821
Epoch 74/100
23/23 - 0s - 4ms/step - loss: 42.3023 - val_loss: 108.3064
Epoch 75/100
23/23 - 0s - 5ms/step - loss: 41.4115 - val_loss: 112.4932
Epoch 76/100
23/23 - 0s - 5ms/step - loss: 40.6090 - val_loss: 110.1497
Epoch 77/100
23/23 - 0s - 5ms/step - loss: 40.3810 - val_loss: 104.6741
Epoch 78/100
23/23 - 0s - 5ms/step - loss: 40.0381 - val_loss: 118.5068
Epoch 79/100
23/23 - 0s - 5ms/step - loss: 40.1326 - val_loss: 117.0922
Epoch 80/100
23/23 - 0s - 5ms/step - loss: 38.7645 - val_loss: 104.6910
Epoch 81/100
23/23 - 0s - 5ms/step - loss: 38.1479 - val_loss: 110.2313
Epoch 82/100
23/23 - 0s - 5ms/step - loss: 37.5411 - val_loss: 107.9991
Epoch 83/100
23/23 - 0s - 5ms/step - loss: 38.0748 - val_loss: 103.6367
Epoch 84/100
23/23 - 0s - 5ms/step - loss: 37.9066 - val_loss: 102.8747
Epoch 85/100
23/23 - 0s - 4ms/step - loss: 36.9623 - val_loss: 110.4344
Epoch 86/100
23/23 - 0s - 6ms/step - loss: 36.0163 - val_loss: 103.1005
Epoch 87/100
23/23 - 0s - 5ms/step - loss: 35.9940 - val_loss: 103.4210
Epoch 88/100
23/23 - 0s - 4ms/step - loss: 35.6066 - val_loss: 113.4938
Epoch 89/100
23/23 - 0s - 5ms/step - loss: 35.3987 - val_loss: 102.3446
Epoch 90/100
23/23 - 0s - 6ms/step - loss: 35.0982 - val_loss: 103.0273
Epoch 91/100
23/23 - 0s - 5ms/step - loss: 34.9278 - val_loss: 102.7028
Epoch 92/100
23/23 - 0s - 5ms/step - loss: 34.6825 - val_loss: 104.4340
Epoch 93/100
23/23 - 0s - 5ms/step - loss: 33.6463 - val_loss: 106.0490
Epoch 94/100
23/23 - 0s - 4ms/step - loss: 33.6771 - val_loss: 105.9865
Epoch 95/100
23/23 - 0s - 4ms/step - loss: 33.8388 - val_loss: 105.4295
Epoch 96/100
23/23 - 0s - 6ms/step - loss: 33.0681 - val_loss: 102.8178
Epoch 97/100
23/23 - 0s - 5ms/step - loss: 33.2243 - val_loss: 104.0868
Epoch 98/100
23/23 - 0s - 5ms/step - loss: 32.7812 - val_loss: 105.3422
Epoch 99/100
23/23 - 0s - 3ms/step - loss: 32.6820 - val_loss: 105.7910
Epoch 100/100
23/23 - 0s - 6ms/step - loss: 32.4799 - val_loss: 108.7697

<strong>You can refer to this [link](https://keras.io/models/sequential/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDL0101ENSkillsNetwork945-2022-01-01) to learn about other functions that you can use for prediction or evaluation.</strong>

Feel free to vary the following and note what impact each change has on the model's performance:

1. Increase or decreate number of neurons in hidden layers
2. Add more hidden layers
3. Increase number of epochs

### Thank you for completing this lab!