<h1>Regression Models with Keras</h1>

Objective for this Notebook

- How to use the Tensorflow API, Keras, to build a regression model.
- Download and Clean dataset
- Build a Neural Network
- rain and Test the Network

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item31">Download and Clean Dataset</a>  
2. <a href="#item32">Import Keras</a>  
3. <a href="#item33">Build a Neural Network</a>  
4. <a href="#item34">Train and Test the Network</a>  

</font>
</div>

<a id="item31"></a>

## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np

We will be playing around with the same dataset that we used in the videos.

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

<a id="item1"></a>

<a id='item32'></a>

## Import Keras

Recall from the videos that Keras normally runs on top of a low-level library such as TensorFlow. This means that to be able to use the Keras library, you will have to install TensorFlow first and when you import the Keras library, it will be explicitly displayed what backend was used to install the Keras library. In CC Labs, we used TensorFlow as the backend to install Keras, so it should clearly print that when we import Keras.

#### Let's go ahead and import the Keras library

In [11]:
from tensorflow import keras

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [12]:
from keras.models import Sequential
from keras.layers import Dense

<a id='item33'></a>

## Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [13]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    """
    1. Initial a sequence model
    2. Add 2 dense layers with a relu activation function and 50 neurons each
    3. Add a final layer. Remember this is a regression task.
    """
    model.add(Dense(50, activation='relu'))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function create a model that has two hidden layers, each of 50 hidden units.

<a id="item4"></a>

<a id='item34'></a>

## Train and Test the Network

Let's call the function now to create our model.

In [14]:
# build the model
model = regression_model()

Next, we will train and test the model at the same time using the *fit* method. We will leave out 30% of the data for validation and we will train the model for 100 epochs.

In [15]:
# fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

Epoch 1/100
23/23 - 1s - 37ms/step - loss: 1641.8474 - val_loss: 1136.7616
Epoch 2/100
23/23 - 0s - 2ms/step - loss: 1501.5770 - val_loss: 998.8668
Epoch 3/100
23/23 - 0s - 2ms/step - loss: 1270.8942 - val_loss: 790.5721
Epoch 4/100
23/23 - 0s - 2ms/step - loss: 940.4488 - val_loss: 542.2490
Epoch 5/100
23/23 - 0s - 2ms/step - loss: 591.7193 - val_loss: 328.6176
Epoch 6/100
23/23 - 0s - 2ms/step - loss: 355.6440 - val_loss: 216.3684
Epoch 7/100
23/23 - 0s - 2ms/step - loss: 267.6015 - val_loss: 175.1714
Epoch 8/100
23/23 - 0s - 2ms/step - loss: 239.6907 - val_loss: 162.1611
Epoch 9/100
23/23 - 0s - 2ms/step - loss: 220.2872 - val_loss: 156.3278
Epoch 10/100
23/23 - 0s - 2ms/step - loss: 206.9394 - val_loss: 149.2793
Epoch 11/100
23/23 - 0s - 2ms/step - loss: 196.7574 - val_loss: 149.7900
Epoch 12/100
23/23 - 0s - 2ms/step - loss: 189.1058 - val_loss: 145.1074
Epoch 13/100
23/23 - 0s - 2ms/step - loss: 182.4253 - val_loss: 145.3130
Epoch 14/100
23/23 - 0s - 2ms/step - loss: 176.4688 - val_loss: 145.3875
Epoch 15/100
23/23 - 0s - 2ms/step - loss: 172.3313 - val_loss: 141.8287
Epoch 16/100
23/23 - 0s - 2ms/step - loss: 167.1423 - val_loss: 140.9128
Epoch 17/100
23/23 - 0s - 2ms/step - loss: 163.3290 - val_loss: 140.5933
Epoch 18/100
23/23 - 0s - 2ms/step - loss: 159.5378 - val_loss: 137.4154
Epoch 19/100
23/23 - 0s - 3ms/step - loss: 156.6379 - val_loss: 140.0120
Epoch 20/100
23/23 - 0s - 2ms/step - loss: 153.1375 - val_loss: 138.9119
Epoch 21/100
23/23 - 0s - 2ms/step - loss: 150.5412 - val_loss: 140.1187
Epoch 22/100
23/23 - 0s - 2ms/step - loss: 149.0561 - val_loss: 137.6436
Epoch 23/100
23/23 - 0s - 3ms/step - loss: 146.0626 - val_loss: 138.1029
Epoch 24/100
23/23 - 0s - 2ms/step - loss: 144.0174 - val_loss: 140.8882
Epoch 25/100
23/23 - 0s - 3ms/step - loss: 141.8831 - val_loss: 141.2118
Epoch 26/100
23/23 - 0s - 3ms/step - loss: 140.4555 - val_loss: 140.0688
Epoch 27/100
23/23 - 0s - 2ms/step - loss: 138.5567 - val_loss: 141.2445
Epoch 28/100
23/23 - 0s - 2ms/step - loss: 136.9121 - val_loss: 140.4389
Epoch 29/100
23/23 - 0s - 2ms/step - loss: 135.5769 - val_loss: 140.1073
Epoch 30/100
23/23 - 0s - 2ms/step - loss: 134.3954 - val_loss: 144.4208
Epoch 31/100
23/23 - 0s - 2ms/step - loss: 132.7329 - val_loss: 140.5262
Epoch 32/100
23/23 - 0s - 2ms/step - loss: 131.8261 - val_loss: 141.6665
Epoch 33/100
23/23 - 0s - 2ms/step - loss: 130.4434 - val_loss: 143.7451
Epoch 34/100
23/23 - 0s - 2ms/step - loss: 129.0313 - val_loss: 144.8992
Epoch 35/100
23/23 - 0s - 2ms/step - loss: 128.4765 - val_loss: 140.1263
Epoch 36/100
23/23 - 0s - 2ms/step - loss: 127.1146 - val_loss: 146.9353
Epoch 37/100
23/23 - 0s - 2ms/step - loss: 126.1928 - val_loss: 144.9995
Epoch 38/100
23/23 - 0s - 2ms/step - loss: 125.5629 - val_loss: 145.9840
Epoch 39/100
23/23 - 0s - 2ms/step - loss: 123.7098 - val_loss: 147.9013
Epoch 40/100
23/23 - 0s - 2ms/step - loss: 122.6820 - val_loss: 145.3690
Epoch 41/100
23/23 - 0s - 2ms/step - loss: 122.5194 - val_loss: 146.9884
Epoch 42/100
23/23 - 0s - 2ms/step - loss: 120.5227 - val_loss: 143.8376
Epoch 43/100
23/23 - 0s - 2ms/step - loss: 119.5091 - val_loss: 145.9462
Epoch 44/100
23/23 - 0s - 2ms/step - loss: 118.8298 - val_loss: 149.5297
Epoch 45/100
23/23 - 0s - 2ms/step - loss: 116.5661 - val_loss: 142.3957
Epoch 46/100
23/23 - 0s - 2ms/step - loss: 115.2966 - val_loss: 144.9672
Epoch 47/100
23/23 - 0s - 2ms/step - loss: 113.9307 - val_loss: 144.4952
Epoch 48/100
23/23 - 0s - 2ms/step - loss: 112.5414 - val_loss: 145.3323
Epoch 49/100
23/23 - 0s - 2ms/step - loss: 110.6010 - val_loss: 142.5209
Epoch 50/100
23/23 - 0s - 2ms/step - loss: 109.1887 - val_loss: 145.4134
Epoch 51/100
23/23 - 0s - 2ms/step - loss: 108.5618 - val_loss: 144.9895
Epoch 52/100
23/23 - 0s - 2ms/step - loss: 105.6907 - val_loss: 141.8775
Epoch 53/100
23/23 - 0s - 2ms/step - loss: 103.1074 - val_loss: 141.3475
Epoch 54/100
23/23 - 0s - 2ms/step - loss: 102.1329 - val_loss: 136.1151
Epoch 55/100
23/23 - 0s - 2ms/step - loss: 99.7176 - val_loss: 141.4597
Epoch 56/100
23/23 - 0s - 2ms/step - loss: 98.0695 - val_loss: 139.9727
Epoch 57/100
23/23 - 0s - 2ms/step - loss: 95.1711 - val_loss: 135.9906
Epoch 58/100
23/23 - 0s - 2ms/step - loss: 93.2380 - val_loss: 131.9671
Epoch 59/100
23/23 - 0s - 2ms/step - loss: 90.2132 - val_loss: 126.3724
Epoch 60/100
23/23 - 0s - 2ms/step - loss: 88.3576 - val_loss: 130.8861
Epoch 61/100
23/23 - 0s - 3ms/step - loss: 85.5938 - val_loss: 124.6231
Epoch 62/100
23/23 - 0s - 2ms/step - loss: 82.8690 - val_loss: 124.1121
Epoch 63/100
23/23 - 0s - 2ms/step - loss: 79.6215 - val_loss: 124.6568
Epoch 64/100
23/23 - 0s - 2ms/step - loss: 76.7452 - val_loss: 124.2973
Epoch 65/100
23/23 - 0s - 2ms/step - loss: 74.4628 - val_loss: 113.1849
Epoch 66/100
23/23 - 0s - 3ms/step - loss: 72.2908 - val_loss: 122.9508
Epoch 67/100
23/23 - 0s - 2ms/step - loss: 69.9226 - val_loss: 116.6158
Epoch 68/100
23/23 - 0s - 3ms/step - loss: 67.5920 - val_loss: 114.4761
Epoch 69/100
23/23 - 0s - 2ms/step - loss: 65.6030 - val_loss: 116.1374
Epoch 70/100
23/23 - 0s - 2ms/step - loss: 63.8881 - val_loss: 114.3427
Epoch 71/100
23/23 - 0s - 2ms/step - loss: 61.2082 - val_loss: 108.5272
Epoch 72/100
23/23 - 0s - 2ms/step - loss: 60.0347 - val_loss: 103.9516
Epoch 73/100
23/23 - 0s - 2ms/step - loss: 57.7115 - val_loss: 114.4007
Epoch 74/100
23/23 - 0s - 2ms/step - loss: 56.4020 - val_loss: 109.9851
Epoch 75/100
23/23 - 0s - 2ms/step - loss: 54.5825 - val_loss: 108.6584
Epoch 76/100
23/23 - 0s - 2ms/step - loss: 53.3991 - val_loss: 114.4347
Epoch 77/100
23/23 - 0s - 2ms/step - loss: 51.7782 - val_loss: 109.7151
Epoch 78/100
23/23 - 0s - 2ms/step - loss: 50.7015 - val_loss: 106.3768
Epoch 79/100
23/23 - 0s - 2ms/step - loss: 50.1761 - val_loss: 111.2084
Epoch 80/100
23/23 - 0s - 2ms/step - loss: 48.1495 - val_loss: 103.1921
Epoch 81/100
23/23 - 0s - 2ms/step - loss: 47.2492 - val_loss: 118.0823
Epoch 82/100
23/23 - 0s - 3ms/step - loss: 46.3244 - val_loss: 105.4930
Epoch 83/100
23/23 - 0s - 2ms/step - loss: 45.3120 - val_loss: 115.7508
Epoch 84/100
23/23 - 0s - 2ms/step - loss: 44.7503 - val_loss: 112.0858
Epoch 85/100
23/23 - 0s - 2ms/step - loss: 43.7117 - val_loss: 114.6260
Epoch 86/100
23/23 - 0s - 2ms/step - loss: 42.9309 - val_loss: 120.1846
Epoch 87/100
23/23 - 0s - 2ms/step - loss: 42.1554 - val_loss: 118.9225
Epoch 88/100
23/23 - 0s - 2ms/step - loss: 42.3235 - val_loss: 125.4628
Epoch 89/100
23/23 - 0s - 2ms/step - loss: 41.3178 - val_loss: 126.7226
Epoch 90/100
23/23 - 0s - 2ms/step - loss: 40.1983 - val_loss: 116.2022
Epoch 91/100
23/23 - 0s - 2ms/step - loss: 39.3792 - val_loss: 133.5140
Epoch 92/100
23/23 - 0s - 2ms/step - loss: 39.2820 - val_loss: 119.6957
Epoch 93/100
23/23 - 0s - 2ms/step - loss: 38.2924 - val_loss: 134.6783
Epoch 94/100
23/23 - 0s - 2ms/step - loss: 37.9414 - val_loss: 122.5241
Epoch 95/100
23/23 - 0s - 2ms/step - loss: 38.3364 - val_loss: 128.3787
Epoch 96/100
23/23 - 0s - 2ms/step - loss: 37.0592 - val_loss: 126.1934
Epoch 97/100
23/23 - 0s - 2ms/step - loss: 36.7670 - val_loss: 134.4662
Epoch 98/100
23/23 - 0s - 2ms/step - loss: 35.8406 - val_loss: 125.7606
Epoch 99/100
23/23 - 0s - 2ms/step - loss: 35.4611 - val_loss: 142.8801
Epoch 100/100
23/23 - 0s - 2ms/step - loss: 34.9749 - val_loss: 128.9772

<strong>You can refer to this [link](https://keras.io/models/sequential/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDL0101ENSkillsNetwork945-2022-01-01) to learn about other functions that you can use for prediction or evaluation.</strong>

Feel free to vary the following and note what impact each change has on the model's performance:

1. Increase or decreate number of neurons in hidden layers
2. Add more hidden layers
3. Increase number of epochs

### Thank you for completing this lab!